# dependencies
node_modules/

# build artifacts
dist/
.vite/
coverage/
*.tsbuildinfo

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
.idea/
.vscode/
